@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100%;
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(230, 218, 206);
}

nav{
    display: flex;
    justify-content: space-between;
}
.navbar{
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
}
.name{
    padding: 10px;
    display: flex;
}
.name span{
    padding: 10px;
    font-weight: 100;
}
.name i{
    padding: 10px;
    color: blue;
}
.name a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: black;
    font-weight: bolder;
}
.list{
    padding: 10px;
}
.list ul{
    display: flex;
}
.list li{
    display: flex;
    padding: 10px;
    text-decoration: none;
}
.list a{
    text-decoration: none;
    color: black;
}
.list a:hover{
    color: blue;
}
.main li{
    list-style: none;
    font-size: 35px;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}
.main i{
    color: blue;
    font-size: 25px;
    padding: 10px;
}
form{
    width: 600px;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    box-shadow: 1px 1px 10px rgb(127, 127, 127);
}
.names{
    display: flex;
    text-align: left;
    justify-content: space-between;
}
input{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
input:hover{
    border-bottom: 2px solid blue;
}
input:focus{
    border-bottom: 2px solid blue;
    outline: none;
}
.names input{
    padding: 10px;
    width: 250px;

}

#submit{
    width: 100px;
    border-radius: 1000px;
    background-color: blue;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border: 2px solid blue;
    transition: 0.3s ease-in-out;
}
#submit:hover{
    color: black;
    border: 2px solid blue;
    background-color: white;
    cursor: pointer;
}
.bottom{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.copy{
    padding: 10px;
}
.contact{
    display: flex;
    justify-content: space-evenly;
}
.call{
    padding: 10px;
    text-align: center;
}
.write{
    padding: 10px;
    text-align: center;
}
.follow{
    padding: 10px;
    text-align: center;
}

.follow i{
    padding: 0px 5px;
}
